.error{
	color: red;
}

#horMenu{
	max-width:1200px;
	margin:0 auto;
}
#notifContainer{
	position: absolute;
	top:170px;
	left: 50px;
	z-index: 1;
	color: black;
	box-shadow: 10px 10px 15px #888888;
	background-color: white;
	overflow-y: auto;
}

#tblNotif{
	background-color: #DBEFC9;
	min-width: 65px;
	width: 500px;
	
	padding: 5px;

	/*color: #00A478;*/
	
	margin-left: 0
}
#tblNotif tr{
	border-bottom: 2px solid #C4C4CB;
}

#tblNotif th{
	font-size: 20px;
	padding: 5px;
	text-align: center;
	background-color: #20AFAA
}


#tblNotif td{
	text-align: left;
	padding: 10px;
}
/*#tblNotif tr:nth-child(even){
	background-color: #C0FFFD
}
*/
/*#tblNotif tr:nth-child(odd){
	background-color: #DAEFFF
}*/

#container{
	position: relative;
	max-width:1800px;
	margin:auto;
	top: 50px;

}



#mainSC{
	width: 100%;
	position: relative;
	top: 150px;

}

#tblOverview thead th{
	min-width: 65px;
	width: 1200px;
	height: 45px;
	/*border: 2px solid #FFFFFF;*/
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0;
}

#tblOverview td{
	/*width: 100%;*/
	min-width: 65px;
	width: 1200px;
	border: 1px solid #FFFFFF;
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0

}

#tblFeed td{
	text-align: left;
}

#main{
	/*table-layout: auto;*/
	position: relative;
	bottom: 100px;
	/*border-left: 6px groove #ABF7FE;
	border-right: 6px groove #ABF7FE;
	border-bottom: 6px groove #ABF7FE;*/

}

#user tr:nth-child(odd), 
#main tr:nth-child(odd), 
#eventAction tr:nth-child(odd){
	background-color: #E6F4FF
}

#main thead tr{
	background-color: #0B4255;
	color: #D849D3;
	z-index: 1;
	position: fixed;
	top:50px;
	/*left:0px;*/
	max-width: 1200px;
	margin-left: -7px;
	padding-top: 5px;
}
#main thead th{
	min-width: 65px;
	width: 1200px;
	height: 45px;
	/*border: 2px solid #FFFFFF;*/
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0;
}
#main td{
	/*width: 100%;*/
	min-width: 65px;
	width: 1200px;
	border: 2px solid #FFFFFF;
	padding: 2px;
	/*color: #00A478;*/
	text-align: center;
	margin-left: 0

}

#userContainer{
	width: 100%;
	position: relative;
	top: 15px;
	
}





#user tr:nth-child(1),
#eventAction tr:nth-child(1){
 	background-color: #759DAB;
	color: #97E3F7;
	/*width: auto;*/
	height: 35px;
	font-weight: bold;
	/*border: 2px solid black;*/
	padding: 15px;
	text-align: center;
	
}

#main td:nth-child(7), #main td:nth-child(8),#tblOverview td:nth-child(7), #tblOverview td:nth-child(6){
	background-color: #66C27A;
	/*font-weight: bold;*/
}

#user td:nth-child(1), #main td:nth-child(1){
	color: #000000;
	font-weight: bold;
}



#user tr:nth-child(even), #main tr:nth-child(even), #eventAction tr:nth-child(even){
	background-color: #CEDBE5
}



#eventAction td, #eventAction tr{
	width: 80%;
	border: 3px solid white;
	text-align: center;

	
}

#eventAction{
	position: relative;
	top: 52px;
}

#eventTable, #taskTable{
	width: 90%;
	border: 6px groove #ABF7FE;
	margin: 0 auto;

}

#taskDetailTable{
	width: 90%;
	border: 6px groove #ABF7FE;
	margin: 0 auto;

}

#taskDetailTable td{
	width: 40%;
	border: 6px groove #ABF7FE;
	margin: 0 auto;

}

#taskOptionDiv{
	position: relative;
	top: 50px;
}

#taskOptMemoDiv{
	position: relative;
	top: 50px;
	
}

#SCNoteDiv{
	z-index: 1;
	position: fixed;
	bottom:75px;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: #FFFFFF;
	background-color: #34BD54;
	font: 25px bold;
	font-variant: small-caps;
	font-weight: bold

}

#msgMonitor{
	position: relative;;
	top: 100px;
}

#calendarPick{
	bottom: -15px
}

#divSCOverview{
	position: absolute;
	box-shadow: 10px 10px 5px #888888;
    left: 10px;
    width: 80%;
   /* background: #7ECCD5;
    border: 3px solid #FFFFFF;*/
    z-index: 0;
}

#divPreview{
	position: absolute;
	box-shadow: 10px 10px 5px #888888;
    left: 300px;
    width: 60%;
   /* background: #7ECCD5;
    border: 3px solid #FFFFFF;*/
    z-index: 0;
}

#divPostContainer{
	text-align: center; 
	margin-top:10px;
}

.tt-menu {
	background-color: #9ED1F2;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 8px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	margin-top: 12px;
	padding: 8px 5px;
	width: 250px;
}

.postPanel{
	position: relative;
	display: inline-block;
	vertical-align:middle;
	/*max-width: 600px;*/
	/*max-height: 300px;*/
	margin: 3px;
	text-align: left;

}
#postOpt{
	display: relative;
	top:7px;
	font-size: 30px;
	padding: 0 10px 0 10px;
}

.popUpContainer{     position: absolute;     max-width: 350px;
	
	z-index: 1;
	color: black;
	box-shadow: 10px 10px 15px #888888;
	background-color: white;
	/*overflow-y: auto;*/
	border-radius: 5px;
	padding-left: 5px;

}

.aModal{
	color: #9AF99A;
	font-weight: bold;
	font-size: 20px;
}

.modalx {
	text-align: center;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    border: 5px solid red; 
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    -webkit-overflow-scrolling:touch;
}

.modal-content {
    margin: auto;
    display: block;
   /* width: 100%;
    height: 95%;*/
}

.floating-image {
	float:left;
    /*display: inline-block;*/
    /*vertical-align: middle;*/
   
    margin: 2px;
    border: 1px solid #73AD21;  
}
.imageThumb {
	 
    border-radius: 5px;
    cursor: pointer;
    /*max-width: 512px;*/
    transition: 0.3s;
    border: 1px solid #73AD21; 
}
.close {
    position: absolute;
    top: 600px;
    right: 25px;
    color: #000000;
    font-size: 40px;
    font-weight: bold;
    z-index: 1;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



#divTagSelect{
	position: relative;
	max-width:500px;
	margin:auto;
	top: 5px;
	text-align: center;
	

}

.imageThumb:hover {opacity: 0.7;}

.pre {
  background-color: #FFFFFF;
  font: bold 12px  arial, sans-serif;
  border:0px solid transparent;
  /*word-wrap: break-word;*/
  white-space: pre-wrap;
  word-break: keep-all;
  /*margin-bottom: 10px;*/
  /*max-height: 600px;*/
  /*overflow: auto;*/
  /*padding: 5px;*/
  /*width: auto;*/
}
[draggable=true] {
  -khtml-user-drag: element;
  -webkit-user-drag: element;
  -khtml-user-select: none;
  -webkit-user-select: none;
}