extends ../layout/layout.jade

	
block title 
	title Users

block header
	#header
	include ../layout/header.jade

block horMenu
	include ../layout/horMenu.jade

block content
	#container
		#userContainer
			ul(class="nav nav-tabs")
				li(class="active" id='feedTab')
					a(data-toggle="tab" href="#Feed") Feeds
				li(id='RelationshipTab')
					a(data-toggle="tab"  href="#Relationships") Relationships
				li(id='ProfileTab')
					a(data-toggle="tab"  href="#Profile") Profile
				li(	id='SettingTab')
					a(data-toggle="tab"  href="#Setting") Setting

			div(class="tab-content")
				div(id="Feed" class="tab-pane fade in active")
					

				div(id="Profile" class="tab-pane")
				div(id="Relationships" class="tab-pane")
				div(id="Setting" class="tab-pane")
append scripts 
	script(src="public/fnLib/feedFn.js")

	script.

		$(function(){
			feedHome()
			//- var groups = [{name:'a'}, {name:'b'}, {name:'c'}]
			//- ul = document.createElement('ul')
			//- groups.forEach(function(group, i){
			//- 	li = document.createElement('li')
			//- 	li.appendChild(document.createTextNode(group.name))
			//- 	console.log(li)
			//- 	li.addEventListener('click', function(){
			//- 		console.log(li)
			//- 	})
			//- 	ul.appendChild(li)
			//- 	console.log(group.name)
			//- })
			
				function feedHome(){

					var userSelected = []
					var userIdSelected = []
					var deptSelected = []

					var divInputGroup = document.createElement('div')
					divInputGroup.className = 'input-group'
					//- divInputGroup.classList.add('col-sm-3')
					
					
					var inputPost = document.createElement('textarea')
					inputPost.id = 'post'
					inputPost.className = 'form-control'
					inputPost.placeholder = 'Post announcement here'
					divInputGroup.appendChild(inputPost)

					var divInputGroupBtn = document.createElement('div')
					divInputGroupBtn.className = 'input-group-btn'
						var btn = document.createElement('button')
						btn.className = 'btn btn-primary'
						btn.innerHTML = 'POST'
						btn.addEventListener('click', function(){
							console.log(inputPost.value)
							console.log(userIdSelected)
							inputPost.value!==''?postDB(select.value, inputPost.value, selectFilter.value,userIdSelected):''
							//- input.value = ''
							//- feedHome()
							location.reload()
						}) 
						divInputGroupBtn.appendChild(btn)
					divInputGroup.appendChild(divInputGroupBtn)

					//- var divbtn = document.createElement('div')
					//- divbtn.className = 'input-group-btn'
					//- 	var btn = document.createElement('button')
					//- 	btn.className = 'btn btn-primary dropdown-toggle'
					//- 	btn.setAttribute('data-toggle', 'dropdown')
					//- 	btn.innerHTML = 'include'
					//- 		var span = document.createElement('span')
					//- 		span.className = 'caret'
					//- 		btn.appendChild(span)
					//- 	divbtn.appendChild(btn)

					//- 	var ul = document.createElement('ul')
					//- 	ul.className = 'dropdown-menu'
					//- 		var li = document.createElement('li')
					//- 			var a = document.createElement('a')
					//- 			a.href = 'www.yahoo.com'
					//- 			a.innerHTML = 'YAHOO'
					//- 			li.appendChild(a)
					//- 		ul.appendChild(li)
					//- 	divbtn.appendChild(ul)
					//- div.appendChild(divbtn)
					$('#Feed').append(divInputGroup)
					$.post('/notif/getFeedSetting').done(function(Rdata){

						Rdata.settings.forEach(function(setting){
							if(setting.settingDescriptionId === 1){
								var divViewFilter = document.createElement('div')
								divViewFilter.className = 'form-group col-sm-12'

									var label = document.createElement('label')
									label.className = 'col-sm-2'
									label.innerHTML = 'View Filter: '
									divViewFilter.appendChild(label)

									var divSelectViewFilter = document.createElement('div')
									divSelectViewFilter.className = 'col-sm-3'


										var selectViewFilter = document.createElement('select')
										selectViewFilter.className = 'form-control'
										selectViewFilter.name = 'viewPostFrom'
										selectViewFilter.id = 'viewPostFrom'
											var optionList = ['Coworker','Colleague','WorkGroup', 'Coworker of Colleague','Private', 'Public']
												var optionDB = document.createElement('option')
												optionDB.value = setting.value
												optionDB.innerHTML = setting.value
												selectViewFilter.appendChild(optionDB)

											optionList.forEach(function(item, i){
												if(item !== setting.value){
													var option = document.createElement('option')
													option.value = item
													option.innerHTML = item
													selectViewFilter.appendChild(option)
												}

											})
										selectViewFilter.addEventListener('change', function(){

											//- alert(select.value)
											$.post('/notif/setFeedSetting',{
												settingId:setting.id,
												settingValue:selectViewFilter.value,
												action:'update'
											}).done(function(Rdata){

											})
										})
										
										divSelectViewFilter.appendChild(selectViewFilter)

									divViewFilter.appendChild(divSelectViewFilter)
								$('#Feed').append(divViewFilter)
							}
						})
					})
						
					$.post('/notif/getFeedSetting').done(function(Rdata){

						Rdata.settings.forEach(function(setting){
							if(setting.settingDescriptionId === 2){
								var divInputGroupFilter = document.createElement('div')
								//- divInputGroupFilter.className = 'input-group'
								divInputGroupFilter.className = 'col-sm-12'
									var label = document.createElement('label')
									label.className = 'col-sm-2'
									label.innerHTML = 'Post Filter: '
									divInputGroupFilter.appendChild(label)
						
									divSelect = document.createElement('div')
									divSelect.className = 'col-sm-3'
										var select = document.createElement('select')
										select.className = 'form-control'
										select.classList.add('col-sm-4')

										//- select.className = ''
										select.name = 'postTo'
										select.id = 'postTo'
											
											var option = document.createElement('option')
											option.value = setting.value
											option.innerHTML = setting.value
											select.appendChild(option)
											

											var optionList = ['Coworker','Colleague', 'Coworker of Colleague','WorkGroup','Private', 'Public']

											optionList.forEach(function(item, i){
												if(item !== setting.value){
													var option = document.createElement('option')
													option.value = item
													option.innerHTML = item
													select.appendChild(option)
												}
											})
										select.addEventListener('change', function(){

											//- alert(select.value)
											$.post('/notif/setFeedSetting',{
												settingId:setting.id,
												settingValue:select.value,
												action:'update'
											}).done(function(Rdata){

											})
										})

										divSelect.appendChild(select)
									divInputGroupFilter.appendChild(divSelect)
									


									divSelectFilter = document.createElement('div')
									divSelectFilter.className = 'col-sm-3'
									

										var selectFilter = document.createElement('select')
										selectFilter.className = 'form-control'

										selectFilter.classList.add('col-sm-4')
										selectFilter.name = 'postTo'
										selectFilter.id = 'postTo'
											var optionList = ['Select Filter','Include', 'Exclude', 'Include Department']

											optionList.forEach(function(item, i){
												//- if(item !== setting.value){
													var option = document.createElement('option')
													option.value = item
													option.innerHTML = item
													selectFilter.appendChild(option)
												//- }

											})
										selectFilter.addEventListener('change', function(){
											selectFilter.value === 'Exclude'?$('#divSelectDept').remove():""
											
											if((selectFilter.value === 'Include'||selectFilter.value === 'Exclude')&& $('#friendSearch').length <1){
												
												
												divfriendSearch = document.createElement('div')
												divfriendSearch.className = 'col-sm-3'
												divfriendSearch.id = 'divfriendSearch'
													var input = document.createElement('input')
													input.type = 'text'
													
													input.placeholder = 'Search Person'
													input.className ='form-control'
													input.id = 'friendSearch'
													input.setAttribute('href','#');
													input.setAttribute('data-toggle','popover');
													input.setAttribute('data-trigger','hover');
													input.setAttribute('data-placement','auto');
													input.style.fontWeight = 'bold'
													input.setAttribute('title', 'Selected User');
													
													document.addEventListener('mousemove', function(){
														input.setAttribute('data-content', JSON.stringify(userSelected, null, 4).replace(/"/g,"").replace("[","").replace("]",""));
														$('[data-toggle="popover"]').popover({html:true})
														
													})
													divfriendSearch.appendChild(input)
												divInputGroupFilter.appendChild(divfriendSearch)
												BHUserList("friendSearch")
												$('#friendSearch').bind('typeahead:selected', function(obj, group, name){
													$('#friendSearch').typeahead('val', '')
													userSelected.push(group.name.substring(0,group.name.indexOf("_")))
													userIdSelected.push(group.groupBLUserId)
													//- $('#friendSearch').val('.....')
													console.log(obj)
													console.log(group)
													console.log(name)
												
												})
											}else if (selectFilter.value === 'Include Department'){
												//- $('#divfriendSearch').remove()
												$.post('/notif/getDept').done(function(Rdata){
													if($('#selectDept').length<1){

														var divSelectDept = document.createElement('div')
														divSelectDept.className = 'col-sm-3'
														divSelectDept.id = 'divSelectDept'
															var selectDept = document.createElement('select')
															selectDept.className = 'form-control'
															selectDept.setAttribute('href','#');
															selectDept.setAttribute('data-toggle','popover');
															selectDept.setAttribute('data-trigger','hover');
															selectDept.setAttribute('data-placement','auto');
															selectDept.style.fontWeight = 'bold'
															selectDept.setAttribute('title', 'Selected Department');
															
															var optionDefault = document.createElement('option')
															optionDefault.innerHTML = 'Select Department'
															selectDept.appendChild(optionDefault)
															//- selectDept.classList.add('col-sm-4')
															Rdata.department.forEach(function(dept, i){
																//- if(item !== setting.value){
																	var option = document.createElement('option')
																	option.value = JSON.stringify(dept, null, 4)
																	option.innerHTML = dept.name

																	selectDept.appendChild(option)
																//- }
															})
															selectDept.addEventListener('change', function(){
																var dept = JSON.parse(selectDept.value)
																userIdSelected.push(dept.status)
																deptSelected.push(dept.name)
																//- console.log(selectDept.value.name)
															})
															divSelectDept.appendChild(selectDept)
														divInputGroupFilter.appendChild(divSelectDept)
														document.addEventListener('mousemove', function(){
														selectDept.setAttribute('data-content', JSON.stringify(deptSelected, null, 4).replace(/"/g,"").replace("[","").replace("]",""));
														$('[data-toggle="popover"]').popover({html:true})
														
													})
													}
												})
											}
										})
									divSelectFilter.appendChild(selectFilter)
								divInputGroupFilter.appendChild(divSelectFilter)
							$('#Feed').append(divInputGroupFilter)
							}
						})
					})
						

						
					

				$('#post').autogrow({vertical: true, horizontal: false});
				

				
				
				$('#feedTab').on('click', function(){
					location.reload()
				})
				var windowHt = window.innerHeight+150
				var loadNumber = 12
				var loadPoint = 0
				var scrollPointLoad = 0 

				window.addEventListener('scroll', function(event){

					scrollPointLoad++
					scrollPointLoad>=12?scrollPointLoad=0:''
					//- scrollPoint6==6?console.log('XXX'):''
					//- console.log(scrollPoint6)
					var posScrollY = window.scrollY
					//- console.log(Math.ceil(posScrollY/100)*100)
					
					loadPoint = document.getElementById('Feed').lastChild.getBoundingClientRect().top
					
					
					//- console.log('windowHt:'+Math.ceil(windowHt/100)*100)
					//- console.log('posScrollY:'+posScrollY)
					//- console.log('loadNumber:'+loadNumber)
					//- console.log('loadPoint:')
					//- console.log(loadPoint)

					if(loadPoint<windowHt && scrollPointLoad==6 ){
						
						
						console.log('loading...'+ loadNumber)
						
						getPostDB(loadNumber)
						loadNumber += loadNumber
						//- preventDefault(event);
						
						//- loadNumber = loadNumber + 1
						//- feednumber = loadNumber*feedPerScroll
						//- console.log('feednumber: '+feednumber)
						//- windowHt = windowHt*loadNumber
					}
					

				 
				})
				getPostDB()


				//- $.getJSON('/notif/mainFeed').done(function(Rdata){
				//- 	Rdata.posts.forEach(function(post, i){
				//- 		console.log(post.postText)
				//- 	})
					
				//- })
			}


			$('#ProfileTab').on('click', function(){
				$('#Profile').html('')
				$.post('/notif/getUserPost').done(function(Rdata){
					console.log(Rdata)
					Rdata.user.mainPosts.forEach(function(post, i){
					var div = document.createElement('div')
					
					div.className = 'panel panel-primary'
					div.classList.add('col-sm-4')
						var divBody = document.createElement('div')
						divBody.className = 'panel-body'
							var h3 = document.createElement('h3')
							h3.innerHTML = post.postText
							divBody.appendChild(h3)
						div.appendChild(divBody)

						var divTitle = document.createElement('div')
						divTitle.className = 'panel-heading'
						div.appendChild(divTitle)

							var pUser = document.createElement('p')
							pUser.innerHTML =  Rdata.user.name + " posted " + moment(post.createdAt).fromNow()
							divTitle.appendChild(pUser)
						$('#Profile').append(div)
					})
					
				})
			})


			$('#RelationshipTab').on('click',function(){
				console.log('Relationships')
				ul = document.createElement('ul')
				ul.className = 'list-group'
				ul.classList.add('col-sm-6')
				var addGroup
				$.getJSON('/notif/userGetGroups').done(function(Rdata){
					var groupList = Rdata.groupList
					groupList.forEach(function(group,i){
						addGroup = function (group){
							li = document.createElement('li')
							li.className = 'list-group-item'
							li.appendChild(document.createTextNode(group.name))
								var span = document.createElement('span')
								span.style.float = 'right'
								//- if (group.userGroups.status=='Colleague'){
								//- 	span.style.color = '#2DC729'
								//- 	span.style.fontSize = '20px'
								//- 	span.className = "glyphicon glyphicon-link"
								//- }else 
								if (group.userGroups.status=='PENDING'){
									span.style.color = '#F0C20B'
									span.style.fontSize = '20px'
									span.className = "glyphicon glyphicon-hourglass"
								}else if (group.userGroups.status=='Owner'){
									span.style.color = '#DC14EE'
									span.style.fontSize = '20px'
									span.className = "glyphicon glyphicon-user"
								}else if(group.userGroups.status.indexOf('REQUEST')>0){
									span.style.color = '#EE1414'
									span.style.fontSize = '14px'
									span.innerHTML = group.userGroups.status
									span.className = "requestSign"
									span.id = 'requestSpan'
								}else {
									span.style.color = '#2DC729'
									span.style.fontSize = '14px'
									span.innerHTML = group.userGroups.status
									span.className = "acceptSign"
									span.id = 'acceptSpan'
								}

								
								function myTest(){
									console.log('sfsf')
										$.post('/notif/editGroup',{
										groupSelectedId:group.id,
										action:'delete'
										}).done(function(pData){

											ul.removeChild(span.parentNode)

										})

								}
								span.addEventListener('mousedown', function(e){
									console.log(e)
									var mouseDown = true
									if(span.className=='glyphicon glyphicon-user'){
										
									

									}else if(span.className=='requestSign'){
										$("#requestSpan").hide()
										console.log(span.parentNode)

										var spanOk = document.createElement('span')
										spanOk.style.float = 'right'
										spanOk.style.color = 'green'
										spanOk.style.fontSize = '20px'
										spanOk.id = 'spanOk'
										spanOk.className = "glyphicon glyphicon-ok"
										spanOk.addEventListener('click',function(){
											$.post('/notif/editGroup',{
											groupSelectedId:group.id,
											action:'accept'
											}).done(function(pData){
												
												//- addGroup(pData.group.name)
												location.reload()

											})
										})
										
										span.parentNode.appendChild(spanOk)

										var spanSpace = document.createElement('span')
										spanSpace.style.float = 'right'
										spanSpace.innerHTML = '&nbsp&nbsp&nbsp&nbsp&nbsp'
										span.parentNode.appendChild(spanSpace)

										var spanDeny = document.createElement('span')
										spanDeny.style.float = 'right'
										spanDeny.style.color = 'red'
										spanDeny.style.fontSize = '20px'
										spanDeny.id = 'spanOk'

										spanDeny.className = "glyphicon glyphicon-remove"
										spanDeny.addEventListener('click',function(){
											$.post('/notif/editGroup',{
											groupSelectedId:group.id,
											action:'delete'
											}).done(function(pData){
												ul.removeChild(span.parentNode)
											})
										})
										span.parentNode.appendChild(spanDeny)
											
									}else if (mouseDown==true){

										

										var spanSpace = document.createElement('span')
										spanSpace.style.float = 'right'
										spanSpace.innerHTML = '&nbsp&nbsp&nbsp&nbsp&nbsp'
										span.parentNode.appendChild(spanSpace)

										var spanDeny = document.createElement('span')
										spanDeny.style.float = 'right'
										spanDeny.style.color = 'red'
										spanDeny.style.fontSize = '20px'
										spanDeny.id = 'spanOk'

										spanDeny.className = "glyphicon glyphicon-remove"
										spanDeny.addEventListener('click',function(){
											$.post('/notif/editGroup',{
											groupSelectedId:group.id,
											action:'delete'
											}).done(function(pData){
												ul.removeChild(span.parentNode)
											})
										})
										span.parentNode.appendChild(spanDeny)
										//- var spanDel = document.createElement('span')
										//- spanDel.style.float = 'right'
										//- spanDel.style.color = 'red'
										//- spanDel.id = 'spanDel'
										//- spanDel.className = "glyphicon glyphicon-remove"
										//- spanDel.innerHTML = "Release on icon to remove"
										//- ul.appendChild(spanDel)
										

									}
								
								})
								
								li.appendChild(span)
								
								
						}

						addGroup(group)
						ul.appendChild(li)

					})
					
					var liAddGroup = document.createElement('li')
					liAddGroup.className = 'list-group-item'
						//- var inputgroup = document.createElement('div')
						//- inputgroup.className = 'input-group'
						
						//- liAddGroup.appendChild(inputgroup)

							//- var span = document.createElement('span')
							//- span.className = 'input-group-btn'
							//- //- span.id = 'basic-addon1'
							//- 	var btn = document.createElement('button')
							//- 	btn.className = 'btn btn-primary'
							//- 	//- btn.type = 'button'
							//- 	span.appendChild(btn)
							//- inputgroup.appendChild(span)
							divSelect = document.createElement('div')
							divSelect.className = 'col-sm-6'
								var select = document.createElement('select')
								select.className = 'form-control'
								select.name = 'postTo'
								select.id = 'postTo'
									var optionList = ['Coworker','Colleague']

									optionList.forEach(function(item, i){
										//- if(item !== setting.value){
											var option = document.createElement('option')
											option.value = item
											option.innerHTML = item
											select.appendChild(option)
										//- }

									})
								divSelect.appendChild(select)
							liAddGroup.appendChild(divSelect)

							divInput = document.createElement('div')
							divInput.className = 'col-sm-6'
								var input = document.createElement('input')
								input.type = 'text'

								
								input.placeholder = 'Search and Select to ADD'
								input.className ='form-control'
								input.id = 'groupSearch'
								//- input.setAttribute("aria-describedby", "basic-addon1")
								divInput.appendChild(input)
							liAddGroup.appendChild(divInput)


					ul.appendChild(liAddGroup)

					$('#Relationships').append(ul)

					BHUserList("groupSearch")

					$('#groupSearch').bind('typeahead:selected', function(obj, group, name){
						console.log(select.value)
						$.post('/notif/editGroup',{
						groupSelectedId:group.id,
						relationship:select.value,
						action:'add'
						}).done(function(pData){
							//- console.log("xx: "+JSON.stringify(group, null, 4))
							var group = pData.group
							group.userGroups = {status:'PENDING'}
							console.log(group)
							addGroup(group)
							ul.insertBefore(li, ul.lastChild)
							$('#groupSearch').val('')
							
							
					
						});
					})
					//- $('#groupSearch').bind('typeahead:change', function(obj, group, name){

					//- 	alert('change')
					//- })
				})
				$('#Relationships').html(ul)
			
			})

			$('#SettingTab').on('click', function(){
				$('#Setting').html('')
				var settingList = ['I want to view post from', 'who can see my post']
				$.post('/notif/getFeedSetting').done(function(Rdata){

					Rdata.settings.forEach(function(setting){


					
						var div = document.createElement('div')
						div.className = 'form-group col-sm-8'

							var label = document.createElement('label')
							label.className = 'col-sm-5'
							label.innerHTML = setting.settingDescription.description
							div.appendChild(label)

							var divSelect = document.createElement('div')
							divSelect.className = 'col-sm-3'


								var select = document.createElement('select')
								select.className = 'form-control'
								select.name = 'viewPostFrom'
								select.id = 'viewPostFrom'
									var optionList = ['Coworker','Colleague','WorkGroup', 'Coworker of Colleague','Private', 'Public']
										var optionDB = document.createElement('option')
										optionDB.value = setting.value
										optionDB.innerHTML = setting.value
										select.appendChild(optionDB)

									optionList.forEach(function(item, i){
										if(item !== setting.value){
											var option = document.createElement('option')
											option.value = item
											option.innerHTML = item
											select.appendChild(option)
										}

									})
								select.addEventListener('change', function(){

									//- alert(select.value)
									$.post('/notif/setFeedSetting',{
										settingId:setting.id,
										settingValue:select.value,
										action:'update'
									}).done(function(Rdata){

									})
								})
								
								divSelect.appendChild(select)

							div.appendChild(divSelect)
						$('#Setting').append(div)

					})
				})


				
					
				
			})
			
				
		})