extends ../views/layout/layout.pug

	
block title 
	title Error Log

block header
	include ../views/layout/header.pug

block horMenu
	include ../views/layout/horMenu.pug

block content
	#container
		p=error