extends ../views/layout/layout.jade
block title 
	title Title From TEST



block content
	#container
		p(id='test') content from test

append scripts 

	script(src="public/js/date.js")
	script.
		$(function(){
			var JSONdata = !{JSONdata};
			var newP = document.createElement('input')
			newP.type = 'button'
			newP.id = 'testBut'
			newP.value = 'Show Notification'

			container.appendChild(newP);


			$('#testBut').click(function(){
				$.getJSON('/showNoti').then(function(){

				})
			})
			
		});





