#horMenu
	nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="true" aria-controls="navMain")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")

				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#")
					span(class="sr-only") Shopping Cart
					span(class="glyphicon glyphicon-shopping-cart" aria-hidden="false")
				
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextS') 
					span(class="glyphicon glyphicon-edit" aria-hidden="true") SELECT
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" id='notifBtnS') 
					span(class="glyphicon glyphicon-bell" aria-hidden="true" style="color:#F4911C;font-size:20px") 

				a(class="navbar-brand", href="/")
					span(class="glyphicon glyphicon-home" aria-hidden="false") BCP 
			

			div(id="navMain" class="navbar-collapse collapse")
				
				ul(class="nav navbar-nav" id='horMenuList')
					
					li(class='active')
						a(href="/") Home
					li( id='userNav')
						a(href="/users") Users
					li(id='notifNav')
						a(href="/notif" id='announBtn') Announcement
					li(id='adminNav')
						a(href="/admin" id='adminBtn') Admin
					li
						a(href="#" id='notifBtn') Notification
							
				ul(class="nav navbar-nav navbar-right")
					li
						a(href='#' class="btn" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextL') 
							span(class="glyphicon glyphicon-edit" aria-hidden="false") SELECT 
							
					li
						a(href="#" id='curUserName') 
					li  
						a(href="/users/logout" id= 'signOut' class="btn btn-info btn-md")
							span(class="glyphicon glyphicon-log-out")  Sign-Out
						//- button(id= 'testbtn' class="btn btn-info btn-md") TEST
							
#notifContainer
	
script.
	$(function (){

		$('#testbtn').click(function(){
			 
			
		})

		var spanNotif = document.createElement('span')
		spanNotif.style.color = '#F4911C'
		spanNotif.className = "badge"
		spanNotif.style.fontSize = '10px'
		spanNotif.id = 'badgeNotif'
		spanNotif.style.float = 'right'
		//- var spanNotifS = spanNotif.cloneNode(true)
		document.getElementById('notifBtn').appendChild(spanNotif)

		var spanNotifS = document.createElement('span')
		spanNotifS.style.color = '#F4911C'
		spanNotifS.className = "badge"
		spanNotifS.style.fontSize = '10px'
		spanNotifS.id = 'badgeNotifS'
		spanNotifS.style.float = 'right'
		document.getElementById('notifBtnS').appendChild(spanNotifS)
		

		//get notification getNewNotifCount
		$.post('/notif/getNewNotifCount').done(function(Rdata){
			$('#badgeNotif').html(Rdata.userFeed)
			$('#badgeNotifS').html(Rdata.userFeed)
		})

		$.getJSON('/users/curUser').done(function(Rdata){
			
			$('#curUserName').append(Rdata.curUserName)
		})
		
		document.getElementById('notifBtn').addEventListener('click',notifMessages)
		document.getElementById('notifBtnS').addEventListener('click',notifMessages)
		function notifMessages(){
			$('#notifContainer').html('')
			document.getElementById('notifContainer').style.height = '700px'
			document.getElementById('notifContainer').style.width = '500px'
			
			var spanClose = document.createElement('span')
			spanClose.innerHTML = '';
			spanClose.zIndex = 1;
			spanClose.style.position = '-webkit-sticky'
			spanClose.style.position = 'sticky'
			spanClose.style.float = 'right'
			spanClose.style.top = '0'
			spanClose.style.fontSize = "25px"
			spanClose.style.color = '#DF7E01'
			spanClose.className = "glyphicon glyphicon-remove"
			spanClose.id = 'delGly';
			//- click the 'x' to remove from list
			spanClose.addEventListener('click', function(){
				$('#notifContainer').html('')
				document.getElementById('notifContainer').style.height = '0px'
				document.getElementById('notifContainer').style.width = '0px'
			
			});
			$('#notifContainer').append(spanClose)
			$.post('/notif/getNewNotif').done(function(Rdata){
				console.log('recieving update contain..')
				var tblNotif = document.createElement('table')
				tblNotif.id = 'tblNotif'
					var th = document.createElement('th')
							th.innerHTML = 'Activity Center'
					tblNotif.appendChild(th)
				$('#notifContainer').append(tblNotif)		
				Rdata.userFeeds.forEach(function(userFeed){
					console.log(userFeed)
					var tr = document.createElement('tr')
							if(userFeed.notification === 'read'){
								tr.style.backgroundColor = '#FFFFFF'
							} else if(userFeed.notification === 'viewed'){
								tr.style.backgroundColor = '#C0FFFD'
							}

							
							var td = document.createElement('td')
							td.innerHTML = '<b>'+userFeed.notifText + '</b><br>' + moment(userFeed.createdAt).calendar()
							td.addEventListener('click', function(){
								document.location = ("/notif?postId="+ userFeed.mainPost.id)
								$.post('notif/viewedNotif',{
									userFeedId:userFeed.id
								}).done(function(){})
							})
							
							var imgNotifs = [].slice.call(td.getElementsByTagName('img'))
							imgNotifs.forEach(function(imgNotif){
								imgNotif.setAttribute('style','max-width:100%;max-height:100%;')
							})

							var iframeNotifs = [].slice.call(td.getElementsByTagName('iframe'))
							iframeNotifs.forEach(function(iframeNotif){
								iframeNotif.setAttribute('style','width:100%;height:100%;')
							})
							
							

					tr.appendChild(td)

				$('#tblNotif').append(tr)

				})
				$.post('notif/clearNewNotif').done(function(){})
				
			})
		}

		document.getElementById('signOut').addEventListener('click',function(){
			console.log('signOut..')
			navigator.serviceWorker.ready.then(function(serviceWorkerRegistration) {
				console.log('unregistering..')
				serviceWorkerRegistration.unregister()
			})
		})

	})