#horMenu
	nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="true" aria-controls="navMain")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")

				//- button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#")
				//- 	span(class="sr-only") Shopping Cart
				//- 	span(class="glyphicon glyphicon-shopping-cart" aria-hidden="false")
				button(id= 'testbtn') Test
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextS') 
					span(class="glyphicon glyphicon-edit" aria-hidden="true") SELECT 

				a(class="navbar-brand", href="/")
					span(class="glyphicon glyphicon-home" aria-hidden="false") BCP 
			

			div(id="navMain" class="navbar-collapse collapse")
				
				ul(class="nav navbar-nav" id='horMenuList')
					
					li(class='active')
						a(href="/") Home
					li( id='user')
						a(href="/users") Users
					li
						a(href="/notif" id='announBtn') Announcement
					li
						a(href="#" id='notifBtn') Notification
							
				ul(class="nav navbar-nav navbar-right")
					li
						a(href='#' class="btn" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextL') 
							span(class="glyphicon glyphicon-edit" aria-hidden="false") SELECT 
							
					li
						a(href="#" id='curUserName') 
					li  
						a(href="/users/logout" id= 'signOut' class="btn btn-info btn-md")
							span(class="glyphicon glyphicon-log-out")  Sign-Out
#notifContainer
	
script.
	$(function (){

		$('#testbtn').click(function(){
			
			
		})
		var span = document.createElement('span')
		span.style.color = '#FF8C5A'
		span.className = "badge"
		span.id = 'badgeNotif'
		span.style.float = 'right'

		document.getElementById('notifBtn').appendChild(span)

		$.getJSON('/users/curUser').done(function(Rdata){
			
			$('#curUserName').append(Rdata.curUserName)
		})
		
		document.getElementById('notifBtn').addEventListener('click', function(){
			$('#notifContainer').html('')
			document.getElementById('notifContainer').style.height = '700px'
			document.getElementById('notifContainer').style.width = '500px'
			
			var span = document.createElement('span')
			span.innerHTML = '';
			span.zIndex = 1;
			span.style.position = 'absolute'
			span.style.right = '1px'
			span.style.top = '1px'
			span.style.fontSize = "25px"
			span.style.color = '#DF7E01'
			span.className = "glyphicon glyphicon-remove"
			span.id = 'delGly';
			//- click the 'x' to remove from list
			span.addEventListener('click', function(){
				$('#notifContainer').html('')
				document.getElementById('notifContainer').style.height = '0px'
				document.getElementById('notifContainer').style.width = '0px'
			
			});
			$('#notifContainer').append(span)
			$.post('/notif/getNewNotif').done(function(Rdata){
				console.log('recieving update contain..')
				var tblNotif = document.createElement('table')
				tblNotif.id = 'tblNotif'
					var th = document.createElement('th')
							th.innerHTML = 'Activity Center'
					tblNotif.appendChild(th)
				$('#notifContainer').append(tblNotif)		
				Rdata.userFeeds.forEach(function(userFeed){
					console.log(userFeed)
					var tr = document.createElement('tr')
							if(userFeed.notification === 'read'){
								tr.style.backgroundColor = '#82C3FF'
							} else if(userFeed.notification === 'viewed'){
								tr.style.backgroundColor = '#C0FFFD'
							}

							
							var td = document.createElement('td')
							td.innerHTML = '<b>'+userFeed.notifText + '</b><br>' + moment(userFeed.createdAt).calendar()
							td.addEventListener('click', function(){
								document.location = ("/notif?postId="+ userFeed.mainPost.id)
								$.post('notif/viewedNotif',{
									userFeedId:userFeed.id
								}).done(function(){})
							})

					tr.appendChild(td)

				$('#tblNotif').append(tr)

				})
				$.post('notif/clearNewNotif').done(function(){})
				
			})
		})

		document.getElementById('signOut').addEventListener('click',function(){
			console.log('signOut..')
			navigator.serviceWorker.ready.then(function(serviceWorkerRegistration) {
				console.log('unregistering..')
				serviceWorkerRegistration.unregister()
			})
		})

	})