#horMenu
	nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
		div(class="container-fluid")
			div(class="navbar-header")
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navMain" aria-expanded="true" aria-controls="navMain")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")

				//- button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#")
				//- 	span(class="sr-only") Shopping Cart
				//- 	span(class="glyphicon glyphicon-shopping-cart" aria-hidden="false")
				button(type="button" id='test') Test
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextS') 
					span(class="glyphicon glyphicon-edit" aria-hidden="true") SELECT 

				a(class="navbar-brand", href="/")
					span(class="glyphicon glyphicon-home" aria-hidden="false") BCP 
			

			div(id="navMain" class="navbar-collapse collapse")
				
				ul(class="nav navbar-nav" id='horMenuList')
					
					li(class='active')
						a(href="/") Home
					li( id='user')
						a(href="/users") Users
					li
						a(href="/notif" id='notifBtn') Notification
				ul(class="nav navbar-nav navbar-right")
					li
						a(href='#' class="btn" data-toggle="collapse" data-target="#taskOptionDiv" id='optionTextL') 
							span(class="glyphicon glyphicon-edit" aria-hidden="false") SELECT 
							
					li
						a(href="#" id='curUserName') 
					li  
						a(href="/users/logout" id= 'signOut' class="btn btn-info btn-md")
							span(class="glyphicon glyphicon-log-out")  Sign-Out
script.
	$(function (){
		$.getJSON('/users/curUser').done(function(Rdata){
			
			$('#curUserName').append(Rdata.curUserName)
		})
		function send_message_to_sw(msg){
			if(navigator.serviceWorker.controller){

				//- var messageChannel = new MessageChannel();
		  //-       messageChannel.port1.onmessage = function(event) {
		  //-       	alert('Responsedrrrr')
		  //-           console.log("Response the SW : ", event.data);
		        //- }
		        navigator.serviceWorker.addEventListener('message', function(event){
		        	if(event.data.command == 'updateNotif'){
		        		console.log("run Update Notification : ", event.data);
		        		console.log(event.data)
		        		$('#notifBtn').html('xxxx')
		        		//- event.ports[0].postMessage('Client 1 says hello back to SW')
		        	}
		        	
		        })
			    navigator.serviceWorker.controller.postMessage({'command':'POST'});
		   	}
		}

		document.getElementById('test').addEventListener('click',function(){
			send_message_to_sw('hello')
		})

		
		

		//- document.getElementById('signOut').addEventListener('click',function(){
		//- 	console.log('signOut..')
		//- 	navigator.serviceWorker.ready.then(function(serviceWorkerRegistration) {
		//- 		//- console.log('unsubcribe..')
		//- 		//- serviceWorkerRegistration.pushManager.getSubscription()
		//- 		//- .then(function(subscription) {
		//- 		//-     if (subscription) {
		//- 		//-       return subscription.unsubscribe();
		//- 		//-     }
		//- 	 //-  	})
		//- 		console.log('unregistering..')
		//- 		serviceWorkerRegistration.unregister()
				
		//- 	})

		//- })

	})